In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import r2_score, mean_squared_error

In [18]:
df=pd.read_excel('health_data.xlsx')

In [19]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3,30,No,Female,55-59,White,Yes,Yes,Very good,5,Yes,No,Yes
1,No,20.34,No,No,Yes,0,0,No,Female,80 or older,White,No,Yes,Very good,7,No,No,No
2,No,26.58,Yes,No,No,20,30,No,Male,65-69,White,Yes,Yes,Fair,8,Yes,No,No
3,No,24.21,No,No,No,0,0,No,Female,75-79,White,No,No,Good,6,No,No,Yes
4,No,23.71,No,No,No,28,0,Yes,Female,40-44,White,No,Yes,Very good,8,No,No,No

In [20]:
df.isnull().sum()

HeartDisease        0
BMI                 0
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         0
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

In [21]:
df.duplicated().sum()

18078

In [22]:
df.drop_duplicates(inplace=True)

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le = LabelEncoder()
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = le.fit_transform(df[col])

In [25]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3,30,0,0,7,5,2,1,4,5,1,0,1
1,0,20.34,0,0,1,0,0,0,0,12,5,0,1,4,7,0,0,0
2,0,26.58,1,0,0,20,30,0,1,9,5,2,1,1,8,1,0,0
3,0,24.21,0,0,0,0,0,0,0,11,5,0,0,2,6,0,0,1
4,0,23.71,0,0,0,28,0,1,0,4,5,0,1,4,8,0,0,0

In [26]:
x=df.drop(columns=['HeartDisease'])
y=df['HeartDisease']

In [27]:
from imblearn.under_sampling import NearMiss

In [28]:
NearMiss_obj = NearMiss()
new_x , new_y = NearMiss_obj.fit_resample(x,y)

In [29]:
new_y.value_counts()

HeartDisease
0    27261
1    27261
Name: count, dtype: int64

In [30]:
df2=pd.DataFrame(new_x)

In [31]:
df2.head()

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,25.09,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0
1,26.61,0,0,0,0,0,0,1,9,5,0,1,4,7,0,0,0
2,25.10,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0
3,25.83,0,0,0,0,0,0,1,12,5,0,1,4,8,0,0,0
4,25.80,0,0,0,0,0,0,1,9,5,0,1,4,8,0,0,0

In [32]:
df3=pd.DataFrame(new_y)

In [33]:
df3.head()

   HeartDisease
0             0
1             0
2             0
3             0
4             0

In [34]:
df4=pd.concat([df2,df3],axis=1)

In [35]:
df4

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer,HeartDisease
0,25.09,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0,0
1,26.61,0,0,0,0,0,0,1,9,5,0,1,4,7,0,0,0,0
2,25.10,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0,0
3,25.83,0,0,0,0,0,0,1,12,5,0,1,4,8,0,0,0,0
4,25.80,0,0,0,0,0,0,1,9,5,0,1,4,8,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54517,38.45,0,0,1,30,15,1,0,7,3,2,1,3,6,1,0,0,1
54518,36.21,1,0,0,0,0,1,0,11,3,2,1,2,8,0,0,0,1
54519,37.12,1,0,0,0,0,0,1,3,3,0,1,4,7,0,0,0,1
54520,33.20,1,0,0,0,0,0,0,8,3,2,1,4,8,1,0,0,1
54521,27.41,1,0,0,7,0,1,1,8,3,2,0,1,6,1,0,0,1

In [36]:
df4.nunique()

BMI                 2283
Smoking                2
AlcoholDrinking        2
Stroke                 2
PhysicalHealth        31
MentalHealth          31
DiffWalking            2
Sex                    2
AgeCategory           13
Race                   6
Diabetic               4
PhysicalActivity       2
GenHealth              5
SleepTime             22
Asthma                 2
KidneyDisease          2
SkinCancer             2
HeartDisease           2
dtype: int64

In [37]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

In [38]:
mms = MinMaxScaler()

In [39]:
scale_x = mms.fit_transform(new_x)

In [40]:
pca = PCA(n_components=3)
x_pca = pca.fit_transform(scale_x)

In [41]:
x_pca

array([[-0.28768911, -0.64215534, -0.28180843],
       [-0.67028395,  0.04250147,  0.33396713],
       [-0.28768435, -0.6421562 , -0.28180369],
       ...,
       [-0.26158981, -0.65217977, -0.25885611],
       [ 0.27104245,  0.11064552, -0.78769576],
       [ 1.21545923, -0.4582581 ,  0.47166756]])

# Spliting Dataset into Train and Test

In [42]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [43]:
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import r2_score,mean_absolute_error,accuracy_score,mean_squared_error

In [44]:
def model(model):
    model.fit(xtrain, ytrain)
    y_pred = model.predict(xtest)
    r2 = r2_score(ytest, y_pred)
    mse = mean_squared_error(ytest, y_pred)
    mae = mean_absolute_error(ytest, y_pred)
    acc = model.score(xtest, ytest)
    print(str(model)+ ' --> ' +str(acc))
    print(f"R2 Score: {r2:.4f}")
    print(f"MSE: {mse:.4f}")
    print(f"MAE: {mae:.4f}")

In [45]:
df2=pd.DataFrame(new_x)

xtrain,xtest,ytrain,ytest=tts(new_x,new_y,train_size=0.3,random_state=42)

lr = LinearRegression()
model(lr)

dt = DecisionTreeRegressor()
model(dt)

rf = RandomForestRegressor()
model(rf)

knn = KNeighborsRegressor()
model(knn)

svr = SVR()
model(svr)

LinearRegression() --> 0.38718067887831276
R2 Score: 0.3872
MSE: 0.1532
MAE: 0.3454
DecisionTreeRegressor() --> 0.21923537155718442
R2 Score: 0.2192
MSE: 0.1952
MAE: 0.1971
RandomForestRegressor() --> 0.5439934676523119
R2 Score: 0.5440
MSE: 0.1140
MAE: 0.1985
KNeighborsRegressor() --> 0.44734504109482465
R2 Score: 0.4473
MSE: 0.1382
MAE: 0.2205
SVR() --> 0.5028229750947042
R2 Score: 0.5028
MSE: 0.1243
MAE: 0.2341

In [47]:
from sklearn.metrics import classification_report

In [49]:
svm = SVC(kernel='linear')
model(svm)
pred_lr=lr.predict(xtest)
pred_dt = dt.predict(xtest)
pred_knn = knn.predict(xtest)
pred_svm=svm.predict(xtest)
pred_rf = rf.predict(xtest)

SVC(kernel='linear') --> 0.8442854897028769
R2 Score: 0.3771
MSE: 0.1557
MAE: 0.1557

In [53]:
import gradio as gr
df4.head()

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer,HeartDisease
0,25.09,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0,0
1,26.61,0,0,0,0,0,0,1,9,5,0,1,4,7,0,0,0,0
2,25.10,1,0,0,0,0,0,1,10,5,0,1,4,8,0,0,0,0
3,25.83,0,0,0,0,0,0,1,12,5,0,1,4,8,0,0,0,0
4,25.80,0,0,0,0,0,0,1,9,5,0,1,4,8,0,0,0,0

In [54]:
def heart(BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer):
    
    HeartDisease = lr.predict([[BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer]])
    return HeartDisease

In [55]:
interface = gr.Interface(
  fn = heart, 
  inputs = ['number','number','number','number','number','number','number','number','number',
            'number','number','number','number','number','number','number','number'],
  outputs = ['text']  


).launch(share=False)

Running on local URL:  http://127.0.0.1:7863

To create a public link, set `share=True` in `launch()`.

In [56]:
import joblib as jb
jb.dump(lr, "model.pkl")

['model.pkl']

In [57]:
model = jb.load("model.pkl")

In [58]:
model.predict([[30.54,0,1,0,1,0,0,1,6,5,0,1,0,7,0,1,0]])

array([0.63047448])